body {
  background-color: #FAFAFA;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.header .logo {
  height: 60px;
}

.header nav {
  margin-left: auto;
}

.header nav ul {
  display: flex;
  align-items: center;
}

.header nav ul li {
  margin-left: 30px;
}

.header nav ul li:first-child a {
  color: #0D6EFD;
}

.fadein {
  opacity: 0;
  transform: translateY(50px);
}

/*-----------------------------------
introduction
-------------------------------------*/
.introduction {
  margin-bottom: 120px;
}
.introduction .container {
  background-color: #fff;
  padding: 60px 0;
}
.introduction .container .inner {
  display: flex;
  align-items: center;
}
.introduction .container .inner .img {
  max-width: 300px;
  margin-right: 40px;
  flex-shrink: 0;
}
.introduction .container .inner .text-area .title {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 20px;
}
.introduction .container .inner .text-area .description {
  line-height: 1.8;
}

/*-----------------------------------
skills
-------------------------------------*/
.skills {
  margin-bottom: 120px;
}
.skills .skills-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.skills .skills-inner .item {
  width: 24%;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
.skills .skills-inner .item .item-container {
  flex-direction: column;
}
.skills .skills-inner .item .upper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.skills .skills-inner .item .upper .img {
  margin-right: 10px;
}
.skills .skills-inner .item .upper p {
  font-weight: bold;
}
.skills .skills-inner .item .bottom p {
  line-height: 1.8;
  text-align: center;
}

/*-----------------------------------
vision
-------------------------------------*/
.vision {
  background-color: #fff;
  padding: 120px 0 60px;
}
.vision p {
  max-width: 600px;
  line-height: 1.8;
  margin: 0 auto 60px;
}

/* -----------------------------------
sp
-------------------------------------*/
@media screen and (max-width: 764px) {
  /* -----------------------------------
  header
  -------------------------------------*/
  .header .logo {
    width: 200px;
    height: auto;
    line-height: 1;
  }
  .header .logo img {
    width: 200px;
    height: auto;
  }
  .header nav {
    display: block;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    padding: 150px 20px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 40;
    opacity: 0;
    transition: all 0.6s;
  }
  .header nav.active {
    right: 0;
    opacity: 1;
  }
  .header nav ul {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  .header nav ul li {
    margin-bottom: 50px;
  }
  .header nav ul li a {
    font-size: 28px;
  }
  .header .mask {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
  }
  .header .mask.active {
    opacity: 1;
    visibility: visible;
  }
  .header .hamburger {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    z-index: 50;
  }
  .header .hamburger span {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 3px;
    background-color: #222222;
    display: inline-block;
    transition: all 0.6s;
  }  
  .header .hamburger span:nth-of-type(1) {
    top: 12px;
  }
  .header .hamburger span:nth-of-type(2) {
    top: 29px;
  }
  .header .hamburger span:nth-of-type(3) {
    top: 46px;
  }
  .header .hamburger.active span:nth-of-type(1) {
    top: 30px;
    transform: rotate(215deg);
  }
  .header .hamburger.active span:nth-of-type(2) {
    transform: translateX(20px);
    opacity: 0;
  }
  .header .hamburger.active span:nth-of-type(3) {
    top: 30px;
    transform: rotate(-215deg);
  }

  /*-----------------------------------
  introduction
  -------------------------------------*/
  .introduction {
    text-align: center;
    margin-bottom: 100px;
  }
  .introduction .container .inner {
    flex-direction: column;
  }
  .introduction .container .inner .img {
    max-width: 500px;
    margin-right: 0;
    margin-bottom: 40px;
    flex-shrink: auto;
  }
  .introduction .container .inner .text-area .title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .introduction .container .inner .text-area .description {
    font-size: 18px;
  }

  /*-----------------------------------
  skills
  -------------------------------------*/
  .skills {
    margin-bottom: 100px;
  }
  .skills .skills-inner {
    display: flex;
    flex-direction: column;
  }
  .skills .skills-inner .item {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  .skills .skills-inner .item .item-container {
    flex-direction: column;
  }
  .skills .skills-inner .item .upper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .skills .skills-inner .item .upper .img {
    margin-right: 10px;
  }
  .skills .skills-inner .item .upper p {
    font-weight: bold;
  }
  .skills .skills-inner .item .bottom p {
    line-height: 1.8;
    text-align: center;
  }

  /*-----------------------------------
  vision
  -------------------------------------*/
  .vision {
    background-color: #fff;
    padding: 100px 0 60px;
  }
  .vision p {
    text-align: center;
  }

}

/*-------------------------------------------
introduction画像サイズ調整765px以上1230px以下で
--------------------------------------------*/
@media screen and (min-width: 765px) and (max-width: 1230px) {
  .skills .skills-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
    padding: 0 20px;
  }
  .skills .skills-inner .item {
    width: 100%;
  }
}