body {
  background-color: #FAFAFA;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}
.header .logo {
  height: 60px;
}
.header nav {
  margin-left: auto;
}
.header nav ul {
  display: flex;
  align-items: center;
}
.header nav ul li {
  margin-left: 30px;
}
.header nav ul li:last-child a {
  color: #0D6EFD;
}
.fadein {
  opacity: 0;
  transform: translateY(50px);
}
.sub-hero .name {
  margin-bottom: 0;
}

/* -----------------------------------
contact
-------------------------------------*/
.contact {
  padding: 0 0 80px;
}
.contact .text {
  text-align: center;
  margin-bottom: 60px;
}
.contact .form-container {
  max-width: 650px;
  margin: 0 auto;
}
.contact .form-container input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  margin-bottom: 30px;
}
.contact .form-container textarea {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  margin-bottom: 30px;
}
.contact .form-container .submit {
  width: 100%;
  text-align: center;
} 
.contact .form-container .submit .btn {
  width: 100%;
  background-color: #CFE1FD;
}



/* -----------------------------------
sp
-------------------------------------*/
@media screen and (max-width: 764px) {
  /* -----------------------------------
  header
  -------------------------------------*/
  .header .logo {
    width: 200px;
    height: auto;
    line-height: 1;
  }
  .header .logo img {
    width: 200px;
    height: auto;
  }
  .header nav {
    display: block;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    padding: 150px 20px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 40;
    opacity: 0;
    transition: all 0.6s;
  }
  .header nav.active {
    right: 0;
    opacity: 1;
  }
  .header nav ul {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  .header nav ul li {
    margin-bottom: 50px;
  }
  .header nav ul li a {
    font-size: 28px;
  }
  .header .mask {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
  }
  .header .mask.active {
    opacity: 1;
    visibility: visible;
  }
  .header .hamburger {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    z-index: 50;
  }
  .header .hamburger span {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 3px;
    background-color: #222222;
    display: inline-block;
    transition: all 0.6s;
  }  
  .header .hamburger span:nth-of-type(1) {
    top: 12px;
  }
  .header .hamburger span:nth-of-type(2) {
    top: 29px;
  }
  .header .hamburger span:nth-of-type(3) {
    top: 46px;
  }
  .header .hamburger.active span:nth-of-type(1) {
    top: 30px;
    transform: rotate(215deg);
  }
  .header .hamburger.active span:nth-of-type(2) {
    transform: translateX(20px);
    opacity: 0;
  }
  .header .hamburger.active span:nth-of-type(3) {
    top: 30px;
    transform: rotate(-215deg);
  }
}