body {
  background-color: #FAFAFA;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.header .logo {
  height: 60px;
}

.header nav {
  margin-left: auto;
}

.header nav ul {
  display: flex;
  align-items: center;
}

.header nav ul li {
  margin-left: 30px;
}

.header nav ul li:nth-child(2) a {
  color: #0D6EFD;
}

.fadein {
  opacity: 0;
  transform: translateY(50px);
}

/* -----------------------------------
works-detail-hero
-------------------------------------*/
.works-detail-hero {
  width: 100%;
  background-image: linear-gradient(90deg, #e8f1ff 50%, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 140px 20px 120px;
}
.works-detail-hero .img {
  width: 100%;
}
.works-detail-hero .img img {
  width: 1200px;
  height: auto;
  object-fit: cover;
}
.works-detail-hero .mainvisual .name {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 20px;
}
.works-detail-hero .text {
  font-size: 30px;
  margin-bottom: 60px;
}

/* -----------------------------------
works-detail-content
-------------------------------------*/
.works-detail-content {
    padding: 120px 0;
    background-color: #FAFAFA;
}
.works-detail-content .item {
    margin-bottom: 40px;
}
.works-detail-content .title {
    font-weight: bold;
    border-left:  solid 3px  #0D6EFD;
    padding: 10px;
}
.works-detail-content .description {
    line-height: 1.8;
}


/* -----------------------------------
mordal
-------------------------------------*/
.mordal {
  padding: 120px 0;
  background-color: #fff;
}
.mordal .inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.mordal .inner .img-pc {
  width: 65%;
  max-height: 1000px;
  overflow-y: auto;
  cursor: zoom-in;
}
.mordal .inner .img-pc img {
  width: 100%;
  height: auto;
}
.mordal .inner .img-sp {
  width: 30%;
  max-height: 1000px;
  overflow-y: auto;
  cursor: zoom-in;
}
.mordal .inner .img-sp img {
  width: 100%;
  height: auto;
}
.mordal .works-detail-content-btn {
  text-align: center;
}
/* モーダル本体 */
.img-modal {
  display: none;
  position: fixed;
  z-index: 50;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding: 40px 0;
}

/* モーダル内の画像 */
.img-modal img {
  width: 80%;
  height: auto;
  max-height: none;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

/* 閉じるボタン */
.img-modal .close {
  position: fixed;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  z-index: 60;
}



/* -----------------------------------
sp
-------------------------------------*/
@media screen and (max-width: 764px) {
  /* -----------------------------------
  header
  -------------------------------------*/
  .header .logo {
    width: 200px;
    height: auto;
    line-height: 1;
  }
  .header .logo img {
    width: 200px;
    height: auto;
  }
  .header nav {
    display: block;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    padding: 150px 20px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 40;
    opacity: 0;
    transition: all 0.6s;
  }
  .header nav.active {
    right: 0;
    opacity: 1;
  }
  .header nav ul {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  .header nav ul li {
    margin-bottom: 50px;
  }
  .header nav ul li a {
    font-size: 28px;
  }
  .header .mask {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
  }
  .header .mask.active {
    opacity: 1;
    visibility: visible;
  }
  .header .hamburger {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    z-index: 50;
  }
  .header .hamburger span {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 3px;
    background-color: #222222;
    display: inline-block;
    transition: all 0.6s;
  }  
  .header .hamburger span:nth-of-type(1) {
    top: 12px;
  }
  .header .hamburger span:nth-of-type(2) {
    top: 29px;
  }
  .header .hamburger span:nth-of-type(3) {
    top: 46px;
  }
  .header .hamburger.active span:nth-of-type(1) {
    top: 30px;
    transform: rotate(215deg);
  }
  .header .hamburger.active span:nth-of-type(2) {
    transform: translateX(20px);
    opacity: 0;
  }
  .header .hamburger.active span:nth-of-type(3) {
    top: 30px;
    transform: rotate(-215deg);
  }

  /* -----------------------------------
  works-detail-hero
  -------------------------------------*/
  .works-detail-hero {
    padding: 120px 20px 100px;
    margin-bottom: 120px;
  }
  .works-detail-hero .name {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .works-detail-hero .text {
    font-size: 22px;
  }

  /* -----------------------------------
  works-detail-content
  -------------------------------------*/
  .works-detail-content {
    padding: 100px 0 40px;
  }
  .works-detail-content .description {
    font-size: 18px;
  }

  /* -----------------------------------
  mordal
  -------------------------------------*/
  .mordal {
    padding: 80px 0 100px;
  }
  .mordal .inner {
    flex-direction: column;
  }
  .mordal .inner .img-pc {
    width: 100%;
    margin-bottom: 50px;
  }
  .mordal .inner .img-sp { 
    width: 100%;
  }
}