body {
  background-color: #FAFAFA;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.header .logo {
  height: 60px;
}

.header nav {
  margin-left: auto;
}

.header nav ul {
  display: flex;
  align-items: center;
}

.header nav ul li {
  margin-left: 30px;
}

.header nav ul li:nth-child(2) a {
  color: #0D6EFD;
}

.fadein {
  opacity: 0;
  transform: translateY(50px);
}

/* -----------------------------------
works-list
-------------------------------------*/
.works-list {
  padding: 120px 0;
}
.works-list .inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.works-list .inner .item {
  width: 100%;
  height: 100%;
  background-color: #222;
  border-radius: 20px 20px 10px 10px;
  padding-bottom: 30px;
  display: flex;
}
.works-list .inner .item > a {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.works-list .inner .item .img {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.works-list .inner .item .img img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: transform 0.5s ease;
}
.works-list .inner .item:hover .img img {
  transform: scale(1.1);
}
.works-list .inner .item .text-area {
  padding: 0 20px;
  flex: 1;
}
.works-list .inner .item .tag {
  font-size: 16px;
  color: #fff;
  margin-bottom: 1dvh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.works-list .inner .item .tag span {
  display: inline-block;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}
.works-list .inner .item .title {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.works-list .inner .item .description {
  color: #fff;
  line-height: 1.8;
  margin-bottom: 50px;
}
.works-list .inner .item .works-btn {
  text-align: center;
  margin-top: auto;
}

/* -----------------------------------
sp
-------------------------------------*/
@media screen and (max-width: 764px) {
  /* -----------------------------------
  header
  -------------------------------------*/
  .header .logo {
    width: 200px;
    height: auto;
    line-height: 1;
  }
  .header .logo img {
    width: 200px;
    height: auto;
  }
  .header nav {
    display: block;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    padding: 150px 20px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 40;
    opacity: 0;
    transition: all 0.6s;
  }
  .header nav.active {
    right: 0;
    opacity: 1;
  }
  .header nav ul {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  .header nav ul li {
    margin-bottom: 50px;
  }
  .header nav ul li a {
    font-size: 28px;
  }
  .header .mask {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
  }
  .header .mask.active {
    opacity: 1;
    visibility: visible;
  }
  .header .hamburger {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    z-index: 50;
  }
  .header .hamburger span {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 3px;
    background-color: #222222;
    display: inline-block;
    transition: all 0.6s;
  }  
  .header .hamburger span:nth-of-type(1) {
    top: 12px;
  }
  .header .hamburger span:nth-of-type(2) {
    top: 29px;
  }
  .header .hamburger span:nth-of-type(3) {
    top: 46px;
  }
  .header .hamburger.active span:nth-of-type(1) {
    top: 30px;
    transform: rotate(215deg);
  }
  .header .hamburger.active span:nth-of-type(2) {
    transform: translateX(20px);
    opacity: 0;
  }
  .header .hamburger.active span:nth-of-type(3) {
    top: 30px;
    transform: rotate(-215deg);
  }

    /* -----------------------------------
    works-list
    -------------------------------------*/
    .works-list {
    padding: 100px 0;
    }
    .works-list .inner {
        display: block;
    }
    .works-list .inner .item {
        margin-bottom: 80px;
    }
    .works-list .inner .item .title {
        font-size: 28px;
    }
    .works-list .inner .item .description {
        font-size: 18px;
    }

}